$bg: #FAFBFF;
$bg_block: #fff;
$bg_active: #5932EA;
$bg_field: #F9FBFF;
$accent1: #00B087;
$accent2: #16C09861;
$accent3: #DF0404;
$accent4: #FFC5C5;
$accent5: #eee;
$accent6: #f5f5f5;

$base_text: #292D32;
$text_accent: #B5B7C0;
$text_accent2: #16C098;
$text_accent3: #404B52;

$text_menu: #9197B3;
$text_avatar: #757575;